<div class="flex flex-row justify-start items-center gap-4">
    <a href="#"
       class="flex flex-row justify-start items-center gap-2 animate__animated wow"
       [ngClass]="{
         'animate__backInLeft': translate.currentLang !== 'ar',
         'animate__backInRight': translate.currentLang === 'ar'
       }"
       data-wow-delay="0.5s">
        <img src="images/links/chrome.png" alt="Chrome" class="w-12 h-12">
        <p class="text-white">{{ 'links.chrome' | translate }}</p>
    </a>
    <a href="#"
       class="flex flex-row justify-start items-center gap-2 animate__animated wow"
       [ngClass]="{
         'animate__backInLeft': translate.currentLang !== 'ar',
         'animate__backInRight': translate.currentLang === 'ar'
       }"
       data-wow-delay="1s">
        <img src="images/links/playstore.png" alt="Play Store" class="w-12 h-12">
        <p class="text-white">{{ 'links.playstore' | translate }}</p>
    </a>
    <a href="#"
       class="flex flex-row justify-start items-center gap-2 animate__animated wow"
       [ngClass]="{
         'animate__backInLeft': translate.currentLang !== 'ar',
         'animate__backInRight': translate.currentLang === 'ar'
       }"
       data-wow-delay="1.5s">
        <img src="images/links/appstore.png" alt="App Store" class="w-12 h-12">
        <p class="text-white">{{ 'links.appstore' | translate }}</p>
    </a>
</div>
