<footer class="fixed bottom-0 w-full h-20">
  <div class="flex flex-row justify-between items-center h-full mx-10">
    <div class="flex flex-col justify-center items-center">
      <p>Copyright © 2025 DELTI</p>
    </div>
    <div class="relative">
      <div (click)="toggleLanguageSelector()">
        <img
          [src]="'images/i18n/' + translate.currentLang + '.svg'"
          [alt]="translate.currentLang"
          class="w-10 h-7 cursor-pointer"
        />
      </div>
      @if (isLanguageSelectorOpen) {
      <div
        class="absolute bottom-full -start-2 mb-2 w-max bg-white border rounded shadow-lg"
      >
        @for (lang of languages; track $index) {
        <div class="p-2 hover:bg-gray-100">
          <img
            [src]="'images/i18n/' + lang + '.svg'"
            [alt]="lang"
            class="w-10 h-7 cursor-pointer"
            (click)="changeLanguage(lang)"
          />
        </div>
        }
      </div>
      }
    </div>
    <div class="flex flex-col justify-center items-center">
      <p>Powered by Delti</p>
    </div>
  </div>
</footer>
