a.active {
  color: #ffffff;
}

header {
  background-color: #011627;
  color: rgba(255, 255, 255, 0.62)
}

a {
  color:  rgba(255, 255, 255, 0.62);
}

.mobile-menu {
  position: absolute;
  top: 5.5rem;
  right: 0;
  background-color: #011627;
  width: 100%;
  transform: translateY(-150%);
  transition: transform 0.3s ease-in-out;
  z-index: 40;
}

.menu-open {
  transform: translateY(0);
}
