<!-- Medical Clinic Header -->
<header class="flex flex-row justify-between absolute top-0 w-full z-50">
  <div class="flex flex-row justify-start items-center">
    <div class="ml-8 py-4">
      <a routerLink="/">
        <img src="images/logo-delti-200x59.png" alt="Delti Logo" class="h-fit">
      </a>
    </div>
    <div class="flex flex-row justify-start items-center ml-4">
      <p class="text-white">
        {{ 'header.description' | translate }}
      </p>
    </div>
  </div>
  <div class="">
    <ul id="ast-hf-menu-1" class="flex flex-row justify-end items-center gap-8 h-full mr-8">
      <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> {{ 'header.menu.home' | translate }}</a>
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="active"> {{ 'header.menu.about' | translate }}</a>
      </li>
      <li>
        <a routerLink="/contact" routerLinkActive="active"> {{ 'header.menu.contact' | translate }}</a>
      </li>
      <li>
        <a routerLink="/privacy-policy" routerLinkActive="active"> {{ 'header.menu.privacy-policy' | translate }}</a>
      </li>
      <li>
        <a routerLink="/terms-and-conditions" routerLinkActive="active"> {{ 'header.menu.terms-and-conditions' | translate }}</a>
      </li>
    </ul>

  </div>
</header>