<div class="flex flex-col mt-30 mx-30 max-w-screen-lg mx-auto mb-25">
    <h1 class="text-4xl font-bold text-center mb-10">{{ 'about.title' | translate }}</h1>
    <div class="flex flex-row">
        <div class="flex flex-col">
            <p class="mt-5 mb-5">{{ 'about.description' | translate }}</p>
            <p class="mt-5 mb-5">{{ 'about.reason' | translate }}</p>
            <p class="mt-5 mb-5">{{ 'about.forBusinesses' | translate }}</p>
            <p class="mt-5 mb-5">{{ 'about.forCustomers' | translate }}</p>
            <p class="mt-5 mb-5 font-bold">{{ 'about.keyFeatures' | translate }}</p>
            <ul class="list-disc list-inside pl-4">
                <li class="mt-5 mb-5"><span class="font-bold">{{ 'about.keyFeature1Title' | translate }}</span> {{ 'about.keyFeature1Description' | translate }}</li>
                <li class="mt-5 mb-5"><span class="font-bold">{{ 'about.keyFeature2Title' | translate }}</span> {{ 'about.keyFeature2Description' | translate }}</li>
                <li class="mt-5 mb-5"><span class="font-bold">{{ 'about.keyFeature3Title' | translate }}</span> {{ 'about.keyFeature3Description' | translate }}</li>
                <li class="mt-5 mb-5"><span class="font-bold">{{ 'about.keyFeature4Title' | translate }}</span> {{ 'about.keyFeature4Description' | translate }}</li>
            </ul>
            <p class="mt-5 mb-5">{{ 'about.mission' | translate }}</p>
            <p class="mt-5 mb-5">{{ 'about.joinUs' | translate }}</p>
            <p class="mt-5 mb-5">{{ 'about.contact' | translate }} <a [href]="'mailto:' + contactEmail">{{ contactEmail }}</a>.</p>
            <p class="mt-5 mb-5">{{ 'about.copyright' | translate }}</p>

        </div>
        <div class="flex flex-col">
            <img src="images/about/about-section.svg" alt="About Section 1" class="max-w-[600px] w-[500px] h-fit">
            <app-links></app-links>
        </div>
    </div>
</div>
