<div class="home-page scroll-container" id="scroll-container">
  <div class="h-24"></div>
  <section class="scroll-section flex flex-col justify-start py-5 md:py-0 md:pb-40 md:flex-row md:justify-center items-center max-w-screen-lg mx-auto gap-8">
    <div class="flex flex-col justify-center items-center gap-6 md:gap-12">
      <h1
        class="text-xl md:text-5xl mx-4 md:mx-0 font-bold text-white text-center animate__animated wow"
        [ngClass]="{
          'animate__bounceInLeft': translate.currentLang !== 'ar',
          'animate__bounceInRight': translate.currentLang === 'ar'
        }"
      >
        {{ 'home.section1.title' | translate }}
      </h1>
      <p class="text-white text-lg md:text-3xl font-bold text-center mx-4 md:mx-0 animate__animated animate__bounceIn wow">
        {{ 'home.section1.description' | translate }}
      </p>
      <app-links></app-links>
    </div>
    <img src="images/home/home-section1.png" alt="Home Section 1" class="max-w-[300px] md:max-w-[600px] h-fit animate__animated animate__fadeIn wow">
  </section>
  <section class="scroll-section flex flex-col justify-start py-0 md:py-0 md:pb-40 md:flex-row md:justify-center items-center max-w-screen-lg mx-auto gap-8">
    
    <div class="flex flex-col justify-center items-center gap-6 md:gap-12 order-1 md:order-2">
      <h1
        class="text-xl md:text-5xl mx-4 md:mx-0 font-bold text-white text-center animate__animated wow"
        [ngClass]="{
          'animate__bounceInLeft': translate.currentLang !== 'ar',
          'animate__bounceInRight': translate.currentLang === 'ar'
        }"
      >
        {{ 'home.section2.title' | translate }}
      </h1>
      <p class="text-white text-lg md:text-3xl font-bold text-center mx-4 md:mx-0 animate__animated animate__bounceIn wow">
        {{ 'home.section2.description' | translate }}
      </p>
      <app-links></app-links>
    </div>
    <img src="images/home/home-section2.svg" alt="Home Section 1" class="max-w-[300px] md:max-w-[600px] h-fit animate__animated animate__fadeIn wow order-2 md:order-1">
  </section>
  <section class="scroll-section flex flex-col justify-start py-0 md:pb-40 md:flex-row md:justify-center items-center max-w-screen-lg mx-auto gap-8">
    <div class="flex flex-col justify-center items-center gap-6 md:gap-12">
      <h1
        class="text-xl md:text-5xl mx-4 md:mx-0 font-bold text-white text-center animate__animated wow"
        [ngClass]="{
          'animate__bounceInLeft': translate.currentLang !== 'ar',
          'animate__bounceInRight': translate.currentLang === 'ar'
        }"
      >
        {{ 'home.section3.title' | translate }}
      </h1>
      <p class="text-white text-lg md:text-3xl font-bold text-center mx-4 md:mx-0 animate__animated animate__bounceIn wow">
        {{ 'home.section3.description' | translate }}
      </p>
      <app-links></app-links>
    </div>
    <img src="images/home/home-section3.png" alt="Home Section 1" class="max-w-[200px] md:max-w-[600px] h-fit animate__animated animate__fadeIn wow">
  </section>
</div>
