<div class="home-page scroll-container" id="scroll-container">
  <section class="py-16 flex flex-row justify-center items-center max-w-screen-lg mx-auto gap-8">
    <div class="flex flex-col justify-center items-center gap-12">
      <h1
        class="text-5xl font-bold text-white text-center animate__animated wow"
        [ngClass]="{
          'animate__bounceInLeft': translate.currentLang !== 'ar',
          'animate__bounceInRight': translate.currentLang === 'ar'
        }"
      >
        {{ 'home.section1.title' | translate }}
      </h1>
      <p class="text-white text-3xl font-bold text-center animate__animated animate__bounceIn wow">
        {{ 'home.section1.description' | translate }}
      </p>
      <app-links></app-links>
    </div>
    <img src="images/home/home-section1.png" alt="Home Section 1" class="max-w-[600px] h-fit animate__animated animate__fadeIn wow">
  </section>
  <section class="py-16 flex flex-row justify-center items-center max-w-screen-lg mx-auto gap-8">
    <div class="flex flex-col justify-center items-center gap-12">
      <h1
        class="text-5xl font-bold text-white text-center animate__animated wow"
        [ngClass]="{
          'animate__bounceInLeft': translate.currentLang !== 'ar',
          'animate__bounceInRight': translate.currentLang === 'ar'
        }"
      >
        {{ 'home.section2.title' | translate }}
      </h1>
      <p class="text-white text-3xl font-bold text-center animate__animated animate__bounceIn wow">
        {{ 'home.section2.description' | translate }}
      </p>
      <app-links></app-links>
    </div>
    <img src="images/home/home-section2.svg" alt="Home Section 1" class="max-w-[600px] h-fit animate__animated animate__fadeIn wow">
  </section>
  <section class="py-16 flex flex-row justify-center items-center max-w-screen-lg mx-auto gap-8">
    <div class="flex flex-col justify-center items-center gap-12">
      <h1
        class="text-5xl font-bold text-white text-center animate__animated wow"
        [ngClass]="{
          'animate__bounceInLeft': translate.currentLang !== 'ar',
          'animate__bounceInRight': translate.currentLang === 'ar'
        }"
      >
        {{ 'home.section3.title' | translate }}
      </h1>
      <p class="text-white text-3xl font-bold text-center animate__animated animate__bounceIn wow">
        {{ 'home.section3.description' | translate }}
      </p>
      <app-links></app-links>
    </div>
    <img src="images/home/home-section3.png" alt="Home Section 1" class="max-w-[600px] h-fit animate__animated animate__fadeIn wow">
  </section>
</div>
